<h1>Real Estate Agents</h1>

<img src= "https://bhgrealestateblog.com/wp-content/uploads/2019/05/shutterstock_1070624348-720x480.jpg">
<%@agents.each do |agent|%>
    <h4>
    
    <%=link_to agent.name, agent_path(agent)%>
    </h4>
<%end%>
<h6><%= link_to "New Agent Form", new_agent_path%></h6>
